* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a4480b;
    background-image: url(pexels-jakubzerdzicki-24251692.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    font-family: ui-san-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: larger;
    line-height: 2.2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200vh;
    padding: 10px;

}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "item1"
        "item2"
        "item4"
        "item5"
        "item6"
        "item7"
        "item3";
    width: 100%;
    max-width: 1400px;
    gap: 0;
    min-height: 150vh;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.header {
    grid-area: item1;
    background-color: rgb(23, 22, 22);
    background-image: url(pexels-jakubzerdzicki-30658376.jpg);
    background-position: center;
    background-size: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    gap: 15px;
    min-height: auto;
    border-radius: 20px 20px 0 0;
}

.main {
    grid-area: item2;
    background-color: rgba(255, 255, 255, 1.0);
    padding: 30px 20px;
    text-align: center;
    border-bottom: solid 2px #b4b3b3;
}

.main2 {
    grid-area: item5;
    background-color: rgba(255, 255, 255, 1.0);
    padding: 30px 20px;
    text-align: center;
}

.main3 {
    grid-area: item6;
    background-color: rgb(232, 230, 230);
    padding: 30px 20px;
    text-align: center;
}
.main4{
    grid-area: item7;
    background-color: white;
    padding: 30px 20px;
    text-align: center;
}

.footer {
    grid-area: item3;
    background-color: rgb(43, 46, 59);
    color: rgb(127, 132, 133);
    text-align: center;
    padding: 20px;
    font-size: clamp(0.75rem, 2vw, 1rem);
}

.photo {
    grid-area: item4;
    width: 100%;
    height: 100%;
    display: block;
}

#image {
    width: 20%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    float: right;
}

#heading {
    font-family: 'Anton', 'impact', 'Bebas Neue', 'Montserrat', 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: clamp(1.5rem, 6vw, 3.5rem);
    line-height: 0.98;
    letter-spacing: -0.05rem;
    transform: scaleX(1.25);
    color: #000000;
    display: block;
    margin: 20px 0;
    padding: 30px;
    border-bottom: solid 1.5px #b4b3b3;
    text-align: center;
}

.nav-bar {
    font-size: clamp(0.75rem, 2vw, 1rem);
    text-decoration: none;
    border-radius: 4px;
    background-color: rgb(217, 194, 194);
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    flex-direction: row;
    padding: 20px 30px;
    gap: 20px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 120px;
    text-align: center;
}

a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

@media (max-width: 600px) {
    #image {
        max-width: 90vw;
        height: auto;
    }
    .container{
          margin: 0 30px 0 30px;
    }
}
@media (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "item1 item1"
            "item2 item4"
            "item5 item5"
            "item6 item6"
            "item7 item7"
            "item3 item3";
          }

}


@media (min-width: 1024px) {
    .main {
        padding: 100px 60px;
    }

    .header {
        padding: 20px 40px;
        height: auto;
    }
}

@media (min-width: 1440px) {
    .main {
        padding: 120px 80px;
    }
}
